{
	email ssl@phlpp.sh
}

eliteballknowledge.phlpp.sh:8443 {
	handle /api/* {
		reverse_proxy api-server:3001
	}

	handle {
		root * /srv/panel
		try_files {path} /index.html
		file_server
	}

	log {
		output stdout
		format console
	}

	header {
		-Server
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
	}
}
