{
	email ssl@phlpp.sh
}

eliteballknowledge.phlpp.sh:8443 {
	handle /api/* {
		reverse_proxy api-server:3001
	}

	handle {
		root * /srv/panel
		try_files {path} /index.html
		file_server
	}

	log {
		output stdout
		format filter {
			wrap console
			fields {
				request>headers delete
				request>remote_ip delete
				request>remote_port delete
				request>client_ip delete
				request>proto delete
				request>host delete
				resp_headers delete
				bytes_read delete
				user_id delete
				size delete
				duration delete
			}
		}
	}

	header {
		-Server
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
	}
}
