node_modules/
dist/
.DS_Store
html/
**/data/*.db
**/data/*.db-shm
**/data/*.db-wal
!deployment/local/data/
deployment/local/data/*
!deployment/local/data/.gitkeep
!deployment/local/data/scraper.db
*.db-shm
*.db-wal
output/
proxies.txt
.env
