{
	auto_https off
}

:8080 {
	handle /api/* {
		reverse_proxy api-server:3001
	}

	handle {
		reverse_proxy panel:5173
	}

	log {
		output stdout
		format filter {
			wrap console
			fields {
				request>headers delete
				request>remote_ip delete
				request>remote_port delete
				request>client_ip delete
				request>proto delete
				request>host delete
				resp_headers delete
				bytes_read delete
				user_id delete
				size delete
				duration delete
			}
		}
	}
}
